$primaryColor: #00331e;

@media only screen and (max-width: 440px) {
	body {
		background-color: #ffb9a3;
	}

	.container {
		max-width: 420px;
		padding: 0px 30px;
	}

	h1 {
		font-weight: 400;
		font-size: 48px;
		line-height: 64px;
		text-decoration: underline #222222 3px;
		text-underline-offset: 12px;
		color: #0d0d0d;
	}

	h2 {
		padding-top: 50px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;

		color: $primaryColor;
	}

  a {
    text-decoration: none;
  }

	.hero {
		margin-bottom: 440px;
	}

	.hero img {
		position: absolute;
		right: -45px;
		top: 75px;
	}

	.introduce img {
		position: relative;
		left: -30px;
		bottom: 110px;
	}

	.introduce div {
		position: relative;
		left: 21%;
		bottom: 190px;
	}

	.introduce div h3 {
		margin-bottom: -10px;
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: $primaryColor;
	}

	.introduce div p {
		margin-top: 10px;
		max-width: 280px;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		color: $primaryColor;
	}

  .social {
    height: 160px;
    position: fixed;
    bottom: 125px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .social a img {
    width: 30px;
    height: auto;
  }

	footer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 90px;
		width: 100%;
		position: fixed;
		bottom: 0px;
		background: #ff8058;
		border-radius: 20px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

  footer a {
    padding: 10px 20px;
  }

  footer a img {
    width: 40px;
    height: auto;
	}

	footer a p {
    margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-align: center;

		color: #222222;
	}

  footer a:hover {
    background-color: #FF9F81;;
  }

  footer a:last-child p {
    position: relative;
    right: 5px;
  }
}
